<h1>Правила</h1>
<p>
  Главный принцип игры - первым набрать 1000 (или более) очков преодолев по пути преграды
  в виде обязательного минимума для открытия игры, двух ям, самосвала и бочки, а также
  сопротивления ваших противников. Очки зарабатываются с помощью 5 кубиков, которые могут приносить
  очки, как поодиночке, так и совместно.
</p>

<p>
  <strong>Как считаются очки:</strong><br/>
  Единица - это 10 очков. Пятярка - 5 очков.
</p>

<p>
  <strong>Комбинация кубиков выпавших за один бросок:</strong><br/>
  Единицы: 3=100 очк., 4=200 очк., 5=1000 очк.<br/>
  Двойки: 3=20 очк., 4=40 очк., 5=200 очк.<br/>
  Тройки: 3=30 очк., 4=60 очк., 5=300 очк.<br/>
  Четверки: 3=40 очк., 4=80 очк., 5=400 очк.<br/>
  Пятерки: 3=50 очк., 4=100 очк., 5=500 очк.<br/>
  Шестерки: 3=60 очк., 4=120 очк., 5=600 очк.<br/>
</p>

<h2>Как играть</h2>

<p>
  В начале игрок далжен обязательно "открыть игру", т.е. набрать минимум 50 очков.<br/><br/>

   <strong>Ямы</strong><br/>
   В игре есть две ямы, первая с 200 по 300 очков, второя с 600 до 700 очков. Если
   игрок "сидит в яме", т.е. имеет сумму очков между границами ямы, то он обязан набрать
   столько очков, чтобы сразу вылезти на верх ямы. К примеру, если имеет 255 очков (т.е. сидит в 1-й яме),
   то он обязан набрать не менее 300 (верхняя граница ямы) минус 225 (текущее количество очков), т.е. 75 очков.<br/><br/>

   <strong>Самосвал</strong><br/>
   В игре существует самосвал. Если игрок набирает 555 очков, то он попадает на "самосвал" и с него списываюся
   все очки, счет становится нулевым. После самосвала игрок не должен будет открывать игру.<br/><br/>

   <strong>Болты</strong><br/>
   Если игрок не набирает за ход ничего, он получает болт. Болты опасны тем, что при накоплении 3-ч болтов,
   с игрока списывается 50 очков. Когда игрок находится на бочке, в яме или еще не открыл игру, болты не записываюся.<br/><br/>

    <strong>Бочка</strong><br/>
    Бочка начинатся с 880  по 1000 очков. Если игрок "сидит на бочке", т.е. имеет сумму очкоа между 880 по 1000, то он
    обязан сразу набрать 1000 или более очков. Для выигрыша игры есть 3 попытки. Если эти три попытки не реализованы,
    то происходит падение с бочки, при этом списываются 100 очков.<br/>
    Количество раз, которые игрок может падать с бочки, ограничено. Всего можно упасть 3 раза, при этом на 3-й раз
    теряются все заработанные очки, игру приходится начинать сначала (открывать игру при этом не надо).<br/>
    Еще одним способом сбросить игрока с бочки, это "залезть" на нее другому игроку. В этом случае игрок сразу падает,
    даже если он не исчерпал лимит попыток (при этом если она падает 3-й раз, то с него списывается вся сумма очков).
</p>